<div [formGroup]="formEmpleado" style="padding: 2rem; display: flex; gap: 2rem; flex-direction: column;">

    <div class="module_title">
       Actualizar Contraseña
    </div>

    <mat-form-field appearance="fill" style="min-width: 250px;">
        <mat-label>Contraseña Actual</mat-label>
        <input matInput placeholder="ingresar contraseña actual" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon mat-icon matSuffix (click)="show()" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" style="min-width: 250px;">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput placeholder="ingresar nueva contraseña" formControlName="new_password" [type]="hide ? 'password' : 'text'">
        <mat-icon mat-icon matSuffix (click)="show()" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>


    <div style="display: flex; flex-direction: row; flex: 1; gap: 1rem;">
        <button mat-flat-button color="warn" mat-dialog-close style="flex: 1;"> Cancelar</button>

        <button mat-flat-button color="primary" (click)="actualizarContrasena()" [disabled]="!formEmpleado.valid"
            style="flex: 1;">Actualizar</button>
    </div>
</div>