
//Normal
$color-primary: #244ebf;
$color-warn: #f44336;
$color-accent: #4462a8;

$color-light: #ffffff;
$color-white-outline: #E5E5E5;


//Hover
$color-hover-primary: #1c3b90;
$color-hover-warn: #b53128;
$color-hover-accent: #2d4273;

//Disable
$color-disabled-link: #B2B2B2;