@font-face {
  font-family: "poppins-thin";
  src: url("/assets/font/poppins/poppins-Thin.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("/assets/font/poppins/poppins-Light.ttf");
}

@font-face {
  font-family: "poppins-extraLight";
  src: url("/assets/font/poppins/poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("/assets/font/poppins/poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-Regular";
  src: url("/assets/font/poppins/poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-SemiBold";
  src: url("/assets/font/poppins/poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("/assets/font/poppins/poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins-black";
  src: url("/assets/font/poppins/poppins-Black.ttf");
}

@font-face {
  font-family: "poppins-extraBold";
  src: url("/assets/font/poppins/poppins-ExtraBold.ttf");
}


