@font-face {
  font-family: "avenir-heavy";
  src: url("/assets/font/avenir/avenir_heavy.ttf");
}

@font-face {
  font-family: "avenir-ltstd-book";
  src: url("/assets/font/avenir/avenir_ltstd_book.otf") format("opentype");
}

@font-face {
  font-family: "avenir-medium";
  src: url("/assets/font/avenir/avenir_medium.ttf");
}
