<div class="dialog__content">
    <img *ngIf="data.icon" class="dialog__content__image" [src]="data.icon" [alt]="data.icon">

    <div class="dialog__content__message">
        <span>{{ data.title }}</span>
        <span *ngIf="data.subtitle" class="dialog__content__message--subtitle">{{ data.subtitle }}</span>
    </div>

    <div class="dialog__content__buttons">
        <button *ngIf="buttonCancelDefault" type="button" [class]="data.buttonCancelColor || 'color-warn'"
            [mat-dialog-close]="false" mat-flat-button>{{ data.buttonCancelText || 'Cancelar' }}
        </button>

        <button type="submit" [class]="data.buttonConfirmColor || 'color-primary'"  [mat-dialog-close]="true"
            mat-flat-button>{{ data.buttonConfirmText || 'Aceptar' }}
        </button>
    </div>

</div>